.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    height: max-content;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    max-width: 1024px;
}
.logo{
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    
}
.logo-new>img{
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.navButton{
    margin: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.747);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    font-weight:900;
}